[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
future = "*"
termcolor = "*"
moderngl = "5.6.4"
Cython = "*"
nptyping = "*" 
scipy = "*"
click-completion = "*"
matplotlib = "*"
pyyaml = "*"
# open3d = "*"
# imageio-ffmpeg = "*"
# scikit-learn = "*"
# scikit-image = "*"
imageio = {extras = ["pyav"], version = "*"}
pyrr = "*"
scikit-learn = "*"
pandas = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
setup = "./scripts/setup.py"
tests = "./scripts/run_tests.sh"
update-base= "./scripts/update_base_image.sh"
update-image= "./scripts/update_image.sh"
update-repos= "git submodule update --recursive --remote"
reset-repos= "git submodule update"
start-display= "sh ./scripts/start_xvfb.sh"
docker-prune="docker system prune -a"
docker-clean="sh ./scripts/docker-clean.sh" 
docker-tests="sh ./scripts/docker_tests.sh"
dr-tests="docker run -it agile-ai:latest pipenv run docker-tests"
start-docker="docker run -it agile-ai:latest"
